# CropSentinel Database Configuration

# Connection string for Neon PostgreSQL (use sslmode=require for Neon)
# Example: postgresql://[user]:[password]@[neon-hostname]/[dbname]?sslmode=require
DATABASE_URL=postgresql://neondb_owner:npg_ObXa96rqWoAG@ep-hidden-mouse-apzmyk40-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

COPERNICUS_CLIENT_ID=sh-10443433-1cee-4516-912a-12a711002905
COPERNICUS_CLIENT_SECRET=pvPNTu1RJ7LS1W8WiVXzvNS9yEz9XtYi

GROQ_API_KEY=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